/* type of contents 
  1. default css 
  2. main css
    2.1. header
    2.2. hero
    2.3. brand
    2.4. products
    2.5. feature
    2.6. footer
  3. Responsive css 
*/

/* =====================
    default css 
=========================  */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
button {
  padding: 8px 24px;
  background-color: #e02c6d;
  color: #fff;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  margin: 16px 0;
  text-transform: capitalize;
  position: relative;
  border: 2px solid transparent;
  transition: 0.5s;
}
button:hover {
  background-color: #fff;
  color: #e02c6d;
  border-color: #e02c6d;
}
button svg {
  margin: 0 5px;
}
section {
  margin: 50px 0;
}
/* =====================
    main css 
=========================  */

/* header */
header {
  padding: 50px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  font-weight: bold;
  font-size: 24px;
}

.main-menu li {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  transition: 0.5s;
}
.main-menu li:hover {
  background: #e02c6d;
  border-radius: 3px;
}
.main-menu li:hover a {
  color: #fff;
}
.main-menu li a {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
  transition: 0.5s;
}

/* hero */
.hero {
  margin-bottom: 120px;
}
.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  width: 582px;
  height: 270px;
}
.hero-content h1 {
  font-weight: bold;
  font-size: 52px;
  line-height: 1.3;
  margin: 0;
  color: #3a3a3a;
}
.hero-content p {
  font-weight: 600;
  font-size: 16px;
}

@keyframes moveing {
  0% {
    left: 0px;
  }
  50% {
    left: 100px;
  }
  100% {
    left: 0px;
  }
}
.hero-image {
  text-align: center;
  width: 440px;
  height: 414px;
}
.hero-image img {
  position: relative;
  animation: moveing 10s infinite;
}
/* band */

.brand-img {
  padding: 42px 0;
  border-top: 2px solid #d1d1d138;
  border-bottom: 2px solid #d1d1d138;
}
.brand-img ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.brand-img ul li {
  text-align: center;
}

/* products */
.products {
  margin: 100px 0;
}
.section-title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
}

.product-container,
.blog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 30px 0;
}
.product,
.blog {
  width: 357px;
  height: auto;
  border: 1px solid #f5f5f5;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-content h2 {
  font-weight: 500;
  font-size: 28px;
  margin: 6px 0;
}
.product-content h4 {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}
.product-content p {
  font-size: 17px;
  font-weight: 500;
  color: #787885;
}
.rating {
  display: flex;
  align-items: center;
  margin-top: -10px;
  margin-bottom: -30px;
}
.rating p {
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
}
.star {
  color: orange;
}
.star svg {
  font-size: 15px;
}
.product-btn,
.blog-btn {
  float: right;
  color: #e02c6d;
  font-weight: 600;
  text-transform: capitalize;
  transition: 0.5s;
}
.product-btn:hover,
.blog-btn:hover {
  animation: dance 2s 1;
}
@keyframes dance {
  0% {
    padding-left: 0px;
  }
  30% {
    padding-left: 5px;
  }
  60% {
    padding-left: 10px;
  }
  80% {
    padding-left: 5px;
  }
  100% {
    padding-left: 0px;
  }
}
.product-btn svg {
  padding-left: 5px;
}
/* feature  */

.feature .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-content {
  padding: 20px;
}
.feature-content h2 {
  font-weight: bold;
  font-size: 38px;
  margin: 0;
}
.feature-content p {
  font-weight: bold;
  font-size: 16px;
  color: #6c6c6c;
  margin: 10px 0;
}
.feature-btn {
  border-radius: 0px !important;
}
/* blogs */
.blogs {
  padding: 50px 0;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-btn {
  float: left;
}
/* footer */
footer {
  background-color: #0a0826;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px;
}

.footer-content {
  color: #fff;
}
.footer-content h3 {
  font-size: 24px;
  font-weight: bold;
}
.footer-content p {
  font-size: 14px;
  font-weight: 400;
}
.social-media {
  margin: 30px 0;
}
.social-media a {
  background: rgba(255, 255, 255, 0.1);
  font-size: 23px;
  padding: 8px 13px;
  border-radius: 50%;
  margin: 0 6px;
}
.social-media a svg {
  color: #fff;
}

/* =====================
    Responsive css 
=========================  */

@media screen and (max-width: 1200px) {
  .container {
    width: 1080px;
  }
  .product,
  .blog {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 100% !important;
  }
  header {
    padding: 50px 20px;
  }
  .hero {
    padding: 0 20px;
  }
  .hero-image img {
    animation: none;
    width: 90%;
  }
  .hero-content h1 {
    font-size: 40px;
  }
  .hero-content p {
    font-size: 14px;
  }
  .product-container,
  .blog-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .products,
  .blogs {
    margin: 0 50px;
  }
  .main-menu li {
    padding: 8px 15px;
  }
}
@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
  section {
    margin-bottom: 150px;
  }
  .hero .container,
  .feature .container {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .hero-image,
  .feature-content {
    order: 1;
  }
  .hero-content,
  .feature-img {
    order: 2;
  }
  .main-menu {
    display: none;
  }
  .brand-img ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .product,
  .blog {
    width: 97%;
    height: 95%;
  }
  .product-container,
  .blog-container {
    grid-gap: 52px;
  }
  .logo {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 668px) {
  .product-container,
  .blog-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-content h2 {
    font-size: 24px;
  }
  .hero {
    margin-bottom: 0;
  }
  section {
    margin: 5px 0;
  }
  .container {
    overflow: hidden;
  }
}

@media screen and (max-width: 480px) {
  .product-container,
  .blog-container {
    grid-template-columns: repeat(1, 1fr);
    margin-left: -15px;
  }
  .hero-image img {
    width: 80%;
  }
  .hero-content h1 {
    font-size: 30px;
  }
  .hero-content p {
    padding: 0 27%;
  }
  .brand-img ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .product-container,
  .blog-container {
    grid-template-columns: repeat(1, 1fr);
    margin-left: -15px;
  }
  .hero-image img {
    width: 80%;
  }
  .hero-content h1 {
    font-size: 30px;
  }
  .hero-content p {
    padding: 0 27%;
  }
  .brand-img ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
